#playground {
  border-collapse: collapse;
  width: 300px;
  height: 300px;
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 36px;
}

#playground td {
  border: 3px solid white;
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
}

#resetButton {
  background-color: rgb(50, 50, 50);
  color: white;
  font-size: 1.25rem;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
#resetButton:hover {
  background-color: rgb(63, 63, 63);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
} 

#playground tr td:nth-child(2),
#playground tr:nth-child(2) td {
  border-color: white;
}

#playground tr:first-child td {
  border-top: none;
}

#playground tr:last-child td {
  border-bottom: none;
}

#playground tr td:first-child {
  border-left: none;
}

#playground tr td:last-child {
  border-right: none;
}

#players {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 1rem;
}

#players button {
  background: none; /* Kein Hintergrund */
  border: none; /* Kein Rahmen */
  padding: 10px;
  cursor: pointer;
}

#players button svg {
  display: block; /* Damit das SVG korrekt angezeigt wird */
}

#players button.active {
  filter: none; /* Aktiver Spieler hat keinen Filter */
}

#players button:not(.active) {
  filter: brightness(0.6); /* Nicht aktiver Spieler wird abgedunkelt */
}

/* #playerX.active, #playerO.active {
  background-color: lightgreen;
} */

.win-line {
  position: absolute;
  width: 120%; /* Macht die Linie länger */
  height: 6px;
  background-color: white;
  top: 45%;
  left: -10%; /* Zentriert die längere Linie */
  /* transform-origin: 50% 50%; */
  transform: translateY(50%);
}

body {
  background-color: rgb(50, 50, 50);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
